@import "~@coreui/coreui/dist/css/coreui.min.css";
@import "~@coreui/icons/css/coreui-icons.min.css";
@import "~font-awesome/css/font-awesome.css";

@import "mixins";
$fontSize: 0.875rem;
:root {
  font-size: $fontSize;
}
.ant-form label{
  font-size: $fontSize;
}
.ant-table{
  font-size: $fontSize;
}


.page {
  &.master-page {
    input {
      &[type="file"] {
        &.hidden {
          @include hidden();
        }
      }
    }
  }
}

.ant-card {
  &.head-borderless {
    .ant-card-head {
      border: none;
    }
  }
}
