/**
 * CSS customization
 */

@import "mixins";

.page {
  &.master-page {
    input {
      &[type="file"] {
        &.hidden {
          @include hidden();
        }
      }
    }
  }

  &.detail-page {
    .ant-row {
      &.ant-form-item {
        padding: 1rem;
      }
    }
  }
}

:root {
  font-size: 1rem;
}

.ant-card {
  &.head-borderless {
    .ant-card-head {
      border: none;
    }
  }
}

.sidebar {
  .nav-link {
    margin: 2px;
    padding: 4px;
    height: 35px;
  }

  .nav-dropdown {
    &.open {
      .nav-link {
        &:hover {
          color: $red;
        }

        &.active {
          color: $white;
        }
      }
    }

    &.active {
      &:hover {
        .nav-icon {
          color: $white;
        }
      }
    }
  }

  .nav-dropdown-items {
    .nav-item {
      a {
        padding-left: 14px;
      }
    }
  }

  .nav-link {
    &:hover {
      &.active {
        color: $white;
        background: $red;

        .nav-icon {
          color: $white;
        }
      }

      .nav-icon {
        color: $red;
      }
    }
  }
}

.navbar {
  justify-content: unset;
}
