$themes: (
        default: (
        ),
);

$sidebar-nav-link-color: #23282c;
$sidebar-nav-link-bg: #fff;

$sidebar-nav-link-active-bg: #fff;
$sidebar-nav-link-active-color: #23282c;

$sidebar-nav-link-hover-bg: #ec4649;
$sidebar-nav-link-hover-color: #fff;

$sidebar-minimizer-bg: #fff ;
$sidebar-minimizer-hover-bg: #ec4649;
$sidebar-minimizer-hover-indicator-color: #fff;
$sidebar-minimizer-indicator-color:#ec4649;

$sidebar-nav-link-icon-color: #ec4649;
$sidebar-nav-link-active-icon-color:#ec4649;

$sidebar-nav-dropdown-bg: #fff;
$sidebar-nav-dropdown-color: #23282c;
$sidebar-nav-dropdown-hover-color: #fff;

$sidebar-bg: #fff;
