.input-tag {
  .form-tag {
    .input {
      width: auto;
      outline: none;
      border: none;
      margin: 1px;
    }
    .input:focus {
      &:hover {
        border-color: none;
        box-shadow: unset;
      }
    }
    .form-control:focus {
      border-color: none;
      box-shadow: unset;
    }
    .list-tag {
      display: inline;
    }
    display: inline-block;
    max-width: 363px;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    display: block;
    flex: 1 1 auto;
    min-height: calc(1.5em + 0.5rem + 5px);
  }
  .delete-all {
    .delete {
      cursor: pointer;
    }
  }
}
.ant-tag {
  background: #ee534d;
}
